<section class="rounded raleway-font">
  <div class="container">
    <div class="row align-items-start justify-content-between">
      <div class="col-md-11 col-lg-6 mx-auto">
        <div
          class="right-section animate__animated animate__backInLeft animate__repeat-1"
        >
          <div
            class="hire-container rounded shadow bg-transparent p-2 mb-4 mt-2"
          >
            <h3 class="text-center fw-bold">
              <i class="fa-solid fa-user-tie me-2"></i>HIRING ME.
            </h3>
            <hr class="custom-hr mt- mb-2" />
            <div class="social-media-icons mx-auto py-2 pb-3 mt-0">
              <div class="item">
                <a href="mailto:omarmakrameldeeb.98@gmail.com"
                  ><i class="fa-solid fa-envelope"></i
                ></a>
              </div>
              <div class="item">
                <a
                  href="https://www.linkedin.com/in/omar-eldeeb-60a130199/"
                  target="_blank"
                  ><i class="fa-brands fa-linkedin"></i
                ></a>
              </div>
              <div class="item">
                <a href="https://github.com/Omar-Eldeeb98" target="_blank"
                  ><i class="fa-brands fa-github"></i
                ></a>
              </div>
              <div class="item">
                <a href="https://wa.me/+201220506973" target="_blank"
                  ><i class="fa-brands fa-whatsapp"></i
                ></a>
              </div>
              <div class="item">
                <a
                  href="https://wuzzuf.net/me/Omar-Eldeeb-4e482943ee?utm_medium=other&utm_source=referral"
                  target="_blank"
                  ><i class="fa-solid fa-w"></i
                ></a>
              </div>
              <div class="item">
                <a
                  href="https://wuzzuf.net/me/Omar-Eldeeb-4e482943ee?utm_medium=other&utm_source=referral"
                  target="_blank"
                >
                  <i class="fa-solid fa-info"></i>
                </a>
              </div>
            </div>
          </div>

          <h3 class="find-me p-2 rounded text-center fw-bold">
            <i class="fa-solid fa-location-dot me-2"></i>Find Me.
          </h3>
          <iframe
            class="rounded w-100 r"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d220910.18719104645!2d31.134434550010827!3d30.102156472732826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583fa60b21beeb%3A0x79dfb296e8423bba!2sCairo%2C%20Cairo%20Governorate!5e0!3m2!1sen!2seg!4v1714325481255!5m2!1sen!2seg"
            width="100%"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>

      <div class="col-md-11 col-lg-6 mx-auto">
        <div
          class="logo-container mx-auto animate__animated animate__jackInTheBox animate__repeat-1 animate__slower animate__delay-1s animate__slow"
        >
          <img src="assets/logo00.png" class="w-100" alt="" />
        </div>
        <div
          class="contact-form rounded shadow-lg my-3 animate__animated animate__backInLeft animate__repeat-1"
        >
          <h2 class="rounded p-2 text-uppercase">contact me.</h2>
          <form
            action="https://api.web3forms.com/submit"
            method="POST"
            class="mb-3 mt-5 mx-2"
          >
            <input
              type="hidden"
              name="access_key"
              value="851d7ef4-c965-46a3-a407-691661097eb6"
            />
            <label for="name" class="text-uppercase mb-2"
              ><i class="fa-solid fa-user me-1"></i>name:</label
            >
            <input
              required
              type="text"
              name="usr name"
              id="name"
              class="form-control"
              placeholder="enter your name pls"
            />

            <label for="email" class="text-uppercase mb-2"
              ><i class="fa-solid fa-at me-1"></i>email:</label
            >
            <input
              required
              placeholder="enter your email pls"
              type="email"
              name="usr email"
              id="email"
              class="form-control"
            />

            <label for="phone" class="text-uppercase mb-2"
              ><i class="fa-solid fa-mobile me-1"></i>phone:</label
            >
            <input
              required
              type="tel"
              name="usr phone"
              id="name"
              class="form-control"
              placeholder="your phone number"
            />

            <label for="mesage" class="text-uppercase mb-2"
              ><i class="fa-solid fa-message me-1"></i>message:</label
            >
            <textarea
              required
              rows="8"
              placeholder="your message"
              name="user mesage"
              id="mesage"
              class="form-control"
            ></textarea>

            <button
              class="text-uppercase rounded mt-3 ms-auto d-block px-4 py-2"
            >
              <i class="fa-solid fa-paper-plane me-2"></i>send
            </button>
          </form>
        </div>
      </div>

      <hr class="custom-hr w-75 mx-auto" />
      <div class="pb-2">
        <h6 class="text-center text-white text-capitalize">
          Thank you for your consideration.❤️
        </h6>
      </div>
    </div>
  </div>
</section>
