<section class="rounded raleway-font">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11 col-lg-8 mx-auto">
        <div
          class="logo-container mx-auto animate__animated animate__jackInTheBox animate__repeat-1 animate__slower animate__delay-1s animate__slow"
        >
          <img src="assets/dev-logo.png" class="w-100" alt="" />
        </div>
        <div
          class="contact-form rounded shadow-lg my-3 animate__animated animate__backInLeft animate__repeat-1"
        >
          <h2 class="rounded p-2 text-uppercase">contact me.</h2>
          <form
            action="https://api.web3forms.com/submit"
            method="POST"
            class="mb-3 mt-5 mx-2"
          >
            <input
              type="hidden"
              name="access_key"
              value="851d7ef4-c965-46a3-a407-691661097eb6"
            />
            <label for="name" class="text-uppercase mb-2"
              ><i class="fa-solid fa-user me-1"></i>name:</label
            >
            <input
              required
              type="text"
              name="usr name"
              id="name"
              class="form-control"
              placeholder="enter your name pls"
            />

            <label for="email" class="text-uppercase mb-2"
              ><i class="fa-solid fa-at me-1"></i>email:</label
            >
            <input
              required
              placeholder="enter your email pls"
              type="email"
              name="usr email"
              id="email"
              class="form-control"
            />

            <label for="phone" class="text-uppercase mb-2"
              ><i class="fa-solid fa-mobile me-1"></i>phone:</label
            >
            <input
              required
              type="tel"
              name="usr phone"
              id="name"
              class="form-control"
              placeholder="your phone number"
            />

            <label for="mesage" class="text-uppercase mb-2"
              ><i class="fa-solid fa-message me-1"></i>message:</label
            >
            <textarea
              required
              rows="8"
              placeholder="your message"
              name="user mesage"
              id="mesage"
              class="form-control"
            ></textarea>

            <button
              class="text-uppercase rounded mt-3 ms-auto d-block px-4 py-2"
            >
              <i class="fa-solid fa-paper-plane me-2"></i>send
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
