@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
section {
  background-color: #001222;
  text-align: center;
  color: #9fa8da;
  display: flex;
  align-items: center;
  justify-content: center;
}

p span {
  color: #9fa8da;
  border: 1px solid #9fa8da;
  background-color: #283593;
  padding: 2px 4px;
  border-radius: 6px;
  letter-spacing: 1px;
}

img {
  width: 25px !important;
}

@media screen and (max-width: 768px) {
  p,
  p span {
    font-size: 12px;
    padding: 0 4px;
    letter-spacing: 0;
  }
}
