<section class="rounded raleway-font">
  <div class="container-fluid">
    <div class="row p-3">
      <div class="col-md-7 col-lg-7 mx-auto">
        <h2 class="text-center p-3 rounded fw-bold">
          <i class="fa-solid fa-chart-pie me-2 fa-1x"></i>
          CHARTS PAGE
        </h2>
      </div>

      <div class="col-md-7 col-lg-7 mx-auto">
        <div class="my-chart" [chart]="testChart"></div>
      </div>
      <div class="col-md-7 col-lg-7 mx-auto mt-2">
        <h2 class="text-center p-3 rounded">
          <i
            class="i_ fa-solid fa-circle-left fa-beat-fade me-3"
            routerLink="/portfolio"
          ></i>
          GO BACK
        </h2>
      </div>
    </div>
  </div>
</section>
