@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

section {
  background-color: #001222;
}

.container-fluid .row h2 {
  color: #9fa8da !important;
  font-weight: bold;
  background-color: #283593;
}
.container-fluid .row h2 i.i_ {
  cursor: pointer;
  background-color: #001222 !important;
  padding: 8px !important;
  border-radius: 8px !important;
}
