<section id="header-section" class="rounded mx-1 my-1 shadow-lg raleway-font">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <div class="name-logo">
            <div
              class="dev-logo animate__animated animate__backInLeft animate__repeat-1"
            >
              <img src="assets/logo00.png" class="w-100" alt="dev-Logo" />
            </div>
            <div
              class="dev-name animate__animated animate__backInRight animate__repeat-1"
            >
              <h1 class="text-uppercase fw-bold madimi-one-regular">
                <span class="nn"> < </span>
                <span>O</span>mar <span>E</span>ldeeb
                <span class="nn"> /> </span>
              </h1>
            </div>
          </div>

          <div class="dev-job w-75 mx-auto d-flex justify-content-center">
            <p class="text-center p-0 m-0 raleway-font">
              I Am, <span class="typed-element fw-bold"></span>
            </p>
          </div>

          <div class="social-media-icons ms-auto">
            <div class="item">
              <a href="mailto:omarmakrameldeeb.98@gmail.com"
                ><i class="fa-solid fa-envelope"></i
              ></a>
            </div>
            <div class="item">
              <a
                href="https://www.linkedin.com/in/omar-eldeeb-60a130199/"
                target="_blank"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
            </div>
            <div class="item">
              <a href="https://github.com/Omar-Eldeeb98" target="_blank"
                ><i class="fa-brands fa-github"></i
              ></a>
            </div>
            <div class="item">
              <a href="https://wa.me/+201220506973" target="_blank"
                ><i class="fa-brands fa-whatsapp"></i
              ></a>
            </div>
            <div class="item">
              <a
                href="https://wuzzuf.net/me/Omar-Eldeeb-4e482943ee?utm_medium=other&utm_source=referral"
                target="_blank"
                ><i class="fa-solid fa-w"></i
              ></a>
            </div>
            <div class="item">
              <a
                href="https://profile.indeed.com/p/omare-rn8c8hf"
                target="_blank"
              >
                <i class="fa-solid fa-info"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fixed-info shadow-lg">
    <div class="developerPic">
      <img src="assets/me.jpg" class="w-100" alt="" />
    </div>
    <h6 class="small mt-4">
      <i class="me-2 fa-solid fa-user-tie"></i> Omar Makram Eldeeb
    </h6>
    <hr class="p-0 my-1 custom-hr" />
    <h6 class="small">
      <i class="me-2 fa-solid fa-mobile-screen"></i> (+20) 1018341760
    </h6>
    <hr class="p-0 my-1 custom-hr" />
    <h6 class="small">
      <i class="me-2 fa-solid fa-mobile-screen"></i> (+20) 1220506973
    </h6>
    <hr class="p-0 my-1 custom-hr" />
    <h6 class="small">
      <i class="me-2 fa-solid fa-location-dot"></i> Cairo, Egypt
    </h6>
  </div>

  <div
    class="fixed-flags d-flex flex-column align-items-center justify-content-center"
  >
    <img
      class="aqsa animate__animated animate__fadeInDownBig animate__repeat-1 animate__slow"
      src="assets/al-aqsa-mosque.png"
      alt="aqsa mosque"
    />

    <img
      src="assets/p0.png"
      alt="palestine"
      class="animate__animated animate__backInUp animate__repeat-1 animate__slow"
    />
  </div>
</section>
