<section class="rounded shadow-lg raleway-font">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11 mx-auto">
        <div class="btn-div p-3">
          <button
            (click)="downloadResume()"
            class="text-uppercase fw-bold shadow-lg animate__animated animate__bounceIn animate__repeat-1 animate__slower animate__delay-1s"
          >
            <i class="fa-regular fa-file-pdf me-2 fa-xl"></i>download resume
          </button>
        </div>

        <div class="row">
          <!--^ education div-->
          <div class="col-md-11 mx-auto">
            <div
              class="education-card rounded shadow-lg my-3 animate__animated animate__backInLeft animate__repeat-1"
            >
              <div
                class="header-div d-flex align-items-top justify-content-start p-2"
              >
                <i class="fa-solid fa-graduation-cap me-2"></i>
                <h2 class="text-uppercase">education.</h2>
              </div>

              <div class="educa-1 mt-2">
                <h3 class="h4 text-capitalize w-100">
                  <i class="fa-solid fa-right-long ms-2 me-2"></i
                  ><span class="ms-1">
                    Bachelor's degree in Computer Science, information systems
                    department.</span
                  ><span class="small ms-3 mx-2 text-uppercase"
                    >sep 2016 - jul 2020</span
                  >
                </h3>
                <p class="text-capitalize">
                  <i class="fa-solid fa-location-dot me-2"></i>
                  Kafr El Sheikh University, faculty of computers and
                  information.
                </p>
              </div>
              <hr class="custom-hr" />

              <div class="educa-1 mt-2">
                <h3 class="h4 text-capitalize w-100">
                  <i class="fa-solid fa-right-long ms-2 me-2"></i>
                  <span class="ms-1"
                    >Front End Web development Diploma at (Route Academy)
                  </span>
                  <span class="small ms-3 mx-2 text-uppercase"
                    >Oct 2023 - Mar 2024</span
                  >
                </h3>
              </div>
            </div>
          </div>
          <!--^ education div-->
          <!--~ skills div-->
          <div class="col-md-11 mx-auto">
            <div
              class="skills-card rounded shadow-lg my-3 animate__animated animate__backInLeft animate__repeat-1"
            >
              <div
                class="header-div d-flex align-items-top justify-content-start p-2"
              >
                <i class="fa-solid fa-code me-2"></i>
                <h2 class="text-uppercase">technical skills.</h2>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-6">
                  <div class="programming my-2 p-2 mx-2 rounded shadow-lg">
                    <h4 class="text-capitalize">programming languages.</h4>
                    <hr class="custom-hr" />
                    <div>
                      <img src="assets/tags/icons8-java-48.png" alt="p_l" />
                      <img
                        src="assets/tags/icons8-c-sharp-logo-2-48.png"
                        alt="p_l"
                      />
                      <img
                        src="assets/tags/icons8-javascript-48.png"
                        alt="p_l"
                      />
                      <img
                        src="assets/tags/icons8-typescript-48.png"
                        alt="p_l"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-lg-6">
                  <div class="programming my-2 p-2 mx-2 rounded shadow-lg">
                    <h4 class="text-capitalize">Front-End Technologies.</h4>
                    <hr class="custom-hr" />
                    <div>
                      <img src="assets/tags/icons8-html-48.png" alt="p_l" />
                      <img src="assets/tags/icons8-css-48.png" alt="p_l" />
                      <img
                        src="assets/tags/icons8-sass-avatar-48.png"
                        alt="p_l"
                      />
                      <img
                        src="assets/tags/icons8-jquery-is-a-javascript-library-designed-to-simplify-html-48.png"
                        alt="p_l"
                      />
                      <img src="assets/tags/icons8-rest-api-48.png" alt="p_l" />
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-lg-6">
                  <div class="programming my-2 p-2 mx-2 rounded shadow-lg">
                    <h4 class="text-capitalize">Framworks.</h4>
                    <hr class="custom-hr" />
                    <div>
                      <img src="assets/tags/icons8-angular-48.png" alt="fw" />
                      <img src="assets/tags/icons8-bootstrap-48.png" alt="fw" />
                      <img
                        src="assets/tags/icons8-tailwind-css-48.png"
                        alt="fw"
                      />
                      <img
                        src="assets/tags/icons8-jest-can-collect-code-coverage-information-from-entire-projects-48.png"
                        alt="fw"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-lg-6">
                  <div class="programming my-2 p-2 mx-2 rounded shadow-lg">
                    <h4 class="text-capitalize">database.</h4>
                    <hr class="custom-hr" />
                    <div>
                      <img
                        src="assets/tags/icons8-microsoft-sql-server-48.png"
                        alt="p_l"
                      />
                      <img src="assets/tags/icons8-my-sql-48.png" alt="p_l" />
                      <img src="assets/tags/icons8-firebase-48.png" alt="p_l" />
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-lg-6">
                  <div class="programming my-2 p-2 mx-2 rounded shadow-lg">
                    <h4 class="text-capitalize">Others.</h4>
                    <hr class="custom-hr" />
                    <div>
                      <img src="assets/tags/icons8-figma-48.png" alt="p_l" />
                      <img src="assets/tags/icons8-git-48.png" alt="p_l" />
                      <img src="assets/tags/github0.png" alt="p_l" />
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-lg-6">
                  <div class="programming my-2 p-2 mx-2 rounded shadow-lg">
                    <h4 class="text-capitalize">Concepts.</h4>
                    <hr class="custom-hr" />
                    <div
                      class="concepts d-flex align-items-center justify-content-start flex-wrap"
                    >
                      <span class="text-capitalize small">oop</span>
                      <span class="text-capitalize small">data strcture</span>
                      <span class="text-capitalize small">algorithms</span>
                      <span class="text-capitalize small">ajax</span>
                      <span class="text-capitalize small">regex</span>
                      <span class="text-capitalize small"
                        >rsponsive designs</span
                      >
                      <span class="text-capitalize small">unit testing</span>
                      <span class="text-capitalize small">api</span>
                      <span class="text-capitalize small">json</span>
                      <span class="text-capitalize small">standalone</span>
                      <span class="text-capitalize small">media query</span>
                      <span class="small text-uppercase">dom</span>
                      <span class="small text-uppercase">bom</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--~ skills div-->

          <!--& experiences div-->

          <div class="col-md-11 mx-auto">
            <div
              class="Experience-card rounded shadow-lg my-3 animate__animated animate__backInLeft animate__repeat-1"
            >
              <div
                class="header-div d-flex align-items-top justify-content-start p-2"
              >
                <i class="fa-solid fa-briefcase me-2"></i>
                <h2 class="text-uppercase">Experiences.</h2>
              </div>

              <div class="exp-1 mt-2">
                <h3 class="h4 text-capitalize w-100">
                  <i class="fa-solid fa-circle ms-2 me-1"></i>
                  <span class="ms-2"
                    >Frontend web developer (Freelancer) at Mostakel.</span
                  ><span class="small ms-3 mx-2 text-uppercase"
                    >oct 2023 - present</span
                  >
                </h3>
              </div>
              <hr class="custom-hr" />
              <div class="exp-1 mt-2">
                <h3 class="h4 text-capitalize w-100">
                  <i class="fa-solid fa-circle ms-2 me-1"></i>
                  <span class="ms-2">codealpha web development intern.</span
                  ><span class="small ms-3 mx-2 text-uppercase"
                    >apr 2024 - may 2024</span
                  >
                </h3>
              </div>
              <hr class="custom-hr" />
              <div class="exp-1 mt-2">
                <h3 class="h4 text-capitalize w-100">
                  <i class="fa-solid fa-circle ms-2 me-1"></i>
                  <span class="ms-2">software engineer at (egyption army)</span
                  ><span class="small ms-3 mx-2 text-uppercase"
                    >may 2021 - oct 2023</span
                  >
                </h3>
              </div>
            </div>
          </div>

          <!--& experiences div-->

          <!--? certifications div-->
          <div class="col-md-6"></div>
          <!--? certifications div-->
        </div>
      </div>
    </div>
  </div>
</section>
