<section class="rounded shadow-lg raleway-font">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11 mx-auto">
        <div class="btn-div p-3">
          <button
            (click)="downloadResume()"
            class="text-uppercase fw-bold shadow-lg animate__animated animate__bounceIn animate__repeat-1 animate__slower animate__delay-1s"
          >
            <i class="fa-regular fa-file-pdf me-2 fa-xl"></i>download resume
          </button>
        </div>

        <div class="row">
          <!--^ education div-->
          <div class="col-md-12">
            <div
              class="education-card rounded shadow-lg my-3 animate__animated animate__backInLeft animate__repeat-1"
            >
              <div
                class="header-div d-flex align-items-top justify-content-start p-2"
              >
                <i class="fa-solid fa-graduation-cap me-2"></i>
                <h2 class="text-uppercase">education.</h2>
              </div>

              <div class="educa-1 mt-2 bg-black mx-2 p-1 rounded shadow">
                <h3 class="h4 text-capitalize w-100 pt-2">
                  <i class="fa-solid fa-certificate ms-2 me-1"></i>
                  <span class="ms-1">
                    Bachelor's degree in Computer Science, information systems
                    department.</span
                  ><span class="small ms-3 mx-2 text-uppercase"
                    >sep 2016 - jul 2020</span
                  >
                </h3>
                <hr class="custom-hr" />
                <p class="text-capitalize">
                  <i class="fa-solid fa-school me-1"></i>
                  Kafr El Sheikh University, faculty of computers and
                  information.
                </p>

                <p class="fw-bold text-capitalize">GPA : 3.0 , Very Good</p>
              </div>
              <hr class="custom-hr" />

              <div class="educa-1 mt-2 bg-black mx-2 p-1 mb-2 rounded shadow">
                <h3 class="h4 text-capitalize w-100 pt-2">
                  <i class="fa-solid fa-certificate ms-2 me-1"></i>
                  <span class="ms-1"
                    >Frontend Web development Diploma With Angular
                  </span>
                  <span class="small ms-3 mx-2 text-uppercase"
                    >Oct 2023 - Mar 2024</span
                  >
                </h3>
                <hr class="custom-hr" />
                <p class="text-capitalize">
                  <i class="fa-solid fa-registered me-1"></i>
                  Route Academy, Software training Center.
                </p>
              </div>
            </div>
          </div>

          <!--^ education div-->
          <!--~ skills div-->
          <div class="col-md-12">
            <div
              class="skills-card rounded shadow-lg my-3 animate__animated animate__backInLeft animate__repeat-1"
            >
              <div
                class="header-div d-flex align-items-top justify-content-start p-2"
              >
                <i class="fa-solid fa-code me-2"></i>
                <h2 class="text-uppercase">technical skills.</h2>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-6">
                  <div class="programming my-2 p-2 mx-2 rounded shadow-lg">
                    <h4 class="text-capitalize">programming languages.</h4>
                    <hr class="custom-hr" />
                    <div>
                      <img src="assets/tags/icons8-java-48.png" alt="p_l" />
                      <img
                        src="assets/tags/icons8-c-sharp-logo-2-48.png"
                        alt="p_l"
                      />
                      <img
                        src="assets/tags/icons8-javascript-48.png"
                        alt="p_l"
                      />
                      <img
                        src="assets/tags/icons8-typescript-48.png"
                        alt="p_l"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-lg-6">
                  <div class="programming my-2 p-2 mx-2 rounded shadow-lg">
                    <h4 class="text-capitalize">Front-End Technologies.</h4>
                    <hr class="custom-hr" />
                    <div>
                      <img src="assets/tags/icons8-html-48.png" alt="p_l" />
                      <img src="assets/tags/icons8-css-48.png" alt="p_l" />
                      <img
                        src="assets/tags/icons8-sass-avatar-48.png"
                        alt="p_l"
                      />
                      <img
                        src="assets/tags/icons8-jquery-is-a-javascript-library-designed-to-simplify-html-48.png"
                        alt="p_l"
                      />
                      <img src="assets/tags/icons8-rest-api-48.png" alt="p_l" />
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-lg-6">
                  <div class="programming my-2 p-2 mx-2 rounded shadow-lg">
                    <h4 class="text-capitalize">Framworks.</h4>
                    <hr class="custom-hr" />
                    <div>
                      <img src="assets/tags/icons8-angular-48.png" alt="fw" />
                      <img src="assets/tags/icons8-bootstrap-48.png" alt="fw" />
                      <img
                        src="assets/tags/icons8-tailwind-css-48.png"
                        alt="fw"
                      />
                      <img
                        src="assets/tags/icons8-jest-can-collect-code-coverage-information-from-entire-projects-48.png"
                        alt="fw"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-lg-6">
                  <div class="programming my-2 p-2 mx-2 rounded shadow-lg">
                    <h4 class="text-capitalize">database.</h4>
                    <hr class="custom-hr" />
                    <div>
                      <img
                        src="assets/tags/icons8-microsoft-sql-server-48.png"
                        alt="p_l"
                      />
                      <img src="assets/tags/icons8-my-sql-48.png" alt="p_l" />
                      <img src="assets/tags/icons8-firebase-48.png" alt="p_l" />
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-lg-6">
                  <div class="programming my-2 p-2 mx-2 rounded shadow-lg">
                    <h4 class="text-capitalize">Others.</h4>
                    <hr class="custom-hr" />
                    <div>
                      <img src="assets/tags/icons8-figma-48.png" alt="p_l" />
                      <img src="assets/tags/icons8-git-48.png" alt="p_l" />
                      <img src="assets/tags/github0.png" alt="p_l" />
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-lg-6">
                  <div class="programming my-2 p-2 mx-2 rounded shadow-lg">
                    <h4 class="text-capitalize">Concepts.</h4>
                    <hr class="custom-hr" />
                    <div
                      class="concepts d-flex align-items-center justify-content-start flex-wrap"
                    >
                      <span class="text-capitalize small">oop</span>
                      <span class="text-capitalize small">data strcture</span>
                      <span class="text-capitalize small">algorithms</span>
                      <span class="text-capitalize small">ajax</span>
                      <span class="text-capitalize small">regex</span>
                      <span class="text-capitalize small"
                        >rsponsive designs</span
                      >
                      <span class="text-capitalize small">unit testing</span>
                      <span class="text-capitalize small">api</span>
                      <span class="text-capitalize small">json</span>
                      <span class="text-capitalize small">standalone</span>
                      <span class="text-capitalize small">media query</span>
                      <span class="small text-uppercase">dom</span>
                      <span class="small text-uppercase">bom</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--~ skills div-->

          <!--& experiences div-->

          <div class="col-md-12 mb-2">
            <div
              class="Experience-card rounded shadow-lg my-3 animate__animated animate__backInLeft animate__repeat-1"
            >
              <div
                class="header-div d-flex align-items-top justify-content-start p-2"
              >
                <i class="fa-solid fa-briefcase me-2"></i>
                <h2 class="text-uppercase">Experiences.</h2>
              </div>

              <div class="exp-1 mt-2">
                <h3 class="h4 text-capitalize bg-black rounded mx-2 p-2 shadow">
                  <i class="fa-solid fa-briefcase ms-2 me-1"></i>
                  <span class="ms-2"
                    >Web Developer at (Forcetouches) - Remote</span
                  ><span class="small ms-3 mx-2 text-uppercase"
                    >Jul 2023 - Present</span
                  >
                </h3>

                <div class="role rounded mx-2 p-2 shadow">
                  <h5 class="text-capitalize">Responsibilities:</h5>
                  <hr class="custom-hr" />
                  <p>
                    <i class="fa-regular fa-circle-dot me-1"></i>Create
                    efficient designs and development of user interaction
                    screens using Html5, Css3, Bootstrap, Javascript, Typescript
                    and Angular.
                  </p>
                  <p>
                    <i class="fa-regular fa-circle-dot me-1"></i>Created CRUD
                    operations and dealt with API.
                  </p>
                  <p>
                    <i class="fa-regular fa-circle-dot me-1"></i>Implemented
                    HTTP requests RXJS Observable liberary.
                  </p>
                  <p>
                    <i class="fa-regular fa-circle-dot me-1"></i>used Angular
                    directives and developed reusable components.
                  </p>
                </div>
              </div>
              <hr class="custom-hr" />

              <div class="exp-1 mt-2 mb-2">
                <h3 class="h4 text-capitalize bg-black rounded mx-2 p-2 shadow">
                  <i class="fa-solid fa-briefcase ms-2 me-1"></i>
                  <span class="ms-2">Frontend Developer at (TechCommand)</span
                  ><span class="small ms-3 mx-2 text-uppercase"
                    >Sep 2020 - Apr 2021</span
                  >
                </h3>

                <div class="role rounded mx-2 p-2 shadow">
                  <h5 class="text-capitalize">Responsibilities:</h5>
                  <hr class="custom-hr" />
                  <p>
                    <i class="fa-regular fa-circle-dot me-1"></i>Collaborate
                    with back-end developers and web designers to improve
                    usability.
                  </p>
                  <p>
                    <i class="fa-regular fa-circle-dot me-1"></i>Worked with
                    advanced JavaScript as ECMAScript6(ES6).
                  </p>
                  <p>
                    <i class="fa-regular fa-circle-dot me-1"></i>Designed and
                    implemented a UI for the websites with HTML, CSS and
                    Bootstrap, JavaScript, jQuery,
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!--& experiences div-->

          <!--? certifications div-->
          <div class="col-md-6"></div>
          <!--? certifications div-->
        </div>
      </div>
    </div>
  </div>
</section>
